{% load static %} {#cargo arch stac#}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquitectura</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">{#incluyo css#}
</head>
<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <div class="logo">
                    <h1 class="nombre-sitio">
                        Arquitectura<span>Bosque</span>
                    </h1>
                </div>

                <div class="contacto">
                    <a class="telefono" href="tel:569868668">569868668</a>
                    {#url dinamica, definida en url#}
                    <nav class="navegacion">
                        <a class="link" href="{% url 'index' %}">Inicio</a>
                        <a class="link" href="{% url 'galeria' %}">Galería</a>
                        <a class="link" href="{% url 'contacto' %}">Contacto</a>
                    </nav>
                </div>
            </div>
            <div class="slogan">
                <h1>Tu casa en el bosque</h1>
                <p>Construimos la casa de tus sueños</p>
            </div>
        </div>
    </header>

    <section class="contenedor mt-5 nosotros">
        <div class="contenido-nosotros">
            <h2>Sobre Nosotros</h2>
            <p>Nam sit amet quam magna. Proin sed cursus justo. Nunc vitae dolor et nibh lacinia bibendum nec sit amet erat. Praesent id risus a odio condimentum venenatis at id nibh. Duis dolor dui, ultrices id fringilla et. Mauris malesuada ultrices facilisis.</p>
            <p>Praesent id risus a odio condimentum venenatis at id nibh. Duis dolor dui, ultrices id fringilla et, porta ut felis. Mauris malesuada ultrices facilisis.</p>
        </div>
    </section>

    <main class="contenedor mt-5">
        <h2>Conoce nuestros 3 modelos</h2>
        {#renderizo con bucle#}
        {% for modelo in modelos %}
        <div class="modelo {{ modelo.nombre|lower }}">{#inserta el nombre en minuscula en css#}
            <div class="contenido-modelo">
                <h3>{{ modelo.nombre }}</h3>
                <p>{{ modelo.descripcion }}</p>{#inserto dinamico#}
                <a href="#" class="btn">Más Información</a>
            </div>
        </div>
        {% endfor %}
    </main>
    
    <section class="contenedor mt-5 informativa">
        <h2>Servicios y Ventas</h2>
        
        {% for servicio in servicios %}
        <div class="servicio">
            <h3>{{ servicio.titulo }}</h3>
            <p>{{ servicio.descripcion }}</p>
            <p class="precio">Precio: {{ servicio.precio }}</p>
            <a href="#" class="btn">Comprar</a>
        </div>
        {% endfor %}
    </section>

    <footer class="footer mt-5">
        <div class="contenedor">
            <div class="barra">
                <div class="logo">
                    <h1 class="nombre-sitio">
                        Arquitectura<span>Bosque</span>
                    </h1>
                </div>

                <div class="contacto">
                    <a class="telefono" href="tel:569868668">569868668</a>
                    <nav class="navegacion">
                        <a class="link" href="{% url 'index' %}">Inicio</a>
                        <a class="link" href="{% url 'galeria' %}">Galería</a>
                        <a class="link" href="{% url 'contacto' %}">Contacto</a>
                    </nav>
                </div>
            </div>
        </div>

        <p class="copyright">Todos los derechos reservados &copy; </p>
    </footer>
</body>
</html>
